#!/bin/env sh

nf () {
  nix --extra-experimental-features nix-command --extra-experimental-features flakes "$@"
}

get_repo_basename() {
  basename "$(get_git_root)"
}

get_profile() {
  basename="$(get_repo_basename)"
  echo "$HOME/.config/nix/profiles/$basename"
}

get_git_root() {
  git rev-parse --show-toplevel
}

cleanup() {
  echo "Cleaning Up..."
  basename="$(get_repo_basename)"
  profile="$(get_profile)"
  if [ -z "$basename" ]; then echo "basename is empty"; exit 1; fi
  export NIX_PATH="$profile"
  export NIX_PROFILE="$profile"
  nix-env --profile "$profile" --delete-generations +3
  nix-env --profile "$profile" --list-generations
}

if ! which "$0" | grep -q nix; then
  print 'Entering Environment...'
  basename="$(get_repo_basename)"
  profile="$(get_profile)"
  export NIX_PROFILE="$profile"
  export WORKSPACE="$(get_git_root)"

  print 'Updating Nix Cache...'
  nf flake update

  echo 'Installing Nix Profile...'
  nf profile install . --profile "$profile"
  nf profile list --profile "$profile"

  print 'Starting...'
  # --impure allows Nix to reuse previously built paths
  # --ignore-environment ignores the environment variables and paths to tools not installed by nix
  nf develop \
    --ignore-environment \
    --impure \
    --keep HOME \
    --keep SSH_AUTH_SOCK \
    --keep GITHUB_TOKEN \
    --keep WORKSPACE \
    --keep AWS_ROLE \
    --keep AWS_REGION \
    --keep AWS_DEFAULT_REGION \
    --keep AWS_ACCESS_KEY_ID \
    --keep AWS_SECRET_ACCESS_KEY \
    --keep AWS_SESSION_TOKEN \
    --keep KUBE_CONFIG_PATH \
    --keep KUBECONFIG \
    --keep TERM \
    --keep XDG_DATA_DIRS \
    --keep NIX_SSL_CERT_FILE \
    --keep NIX_PROFILE \
    --profile "$profile" \
    --command bash -c "bash --rcfile .envrc"

  print 'Exiting Dev Environment...'
  cleanup
else
  # this is run inside the dev environment so we can make assumptions about what is available
  echo 'Setting up dev environment...'

  . .functions
  . .variables
  . .rcs
  . .aliases


  if [ -z "$SSH_AUTH_SOCK" ]; then eval "$(ssh-agent -s)"; ssh-add; fi

  if ! env | grep -q 'AWS'; then
    echo 'Unable to find AWS authentication information in the environment, please make sure you authenticate with AWS.'
    echo 'Try using the "aws" cli included in the environment.'
  fi
fi

