# Sensitivity Detection Script Exemption List
# 
# Format:
#   file_path:field_name  - Ignores a sensitive-matching field only in the specified file.
#   field_name            - Ignores a sensitive-matching field globally in all files.
# 
# Comments starting with '#' are ignored. Blank lines are ignored.
# 
# Examples:
#   rancher2/schema_machine_config_v2_vsphere.go:private_address_only
#   url_comment_password
rancher2/data_source_rancher2_catalog_v2.go:secret_name
rancher2/data_source_rancher2_catalog_v2.go:secret_namespace
rancher2/data_source_rancher2_cluster_v2.go:cloud_credential_secret_name
rancher2/data_source_rancher2_user.go:must_change_password
rancher2/resource_rancher2_oidc_client.go:refresh_token_expiration_seconds
rancher2/resource_rancher2_oidc_client.go:token_expiration_seconds
rancher2/schema_auth_config_azuread.go:token_endpoint
rancher2/schema_auth_config_generic_oidc.go:token_endpoint
rancher2/schema_bootstrap.go:token_ttl
rancher2/schema_bootstrap.go:token_update
rancher2/schema_catalog_v2.go:secret_name
rancher2/schema_catalog_v2.go:secret_namespace
rancher2/schema_cluster_aks_config_v2.go:private_cluster
rancher2/schema_cluster_eks_config_v2.go:private_access
rancher2/schema_cluster_eks_config_v2.go:secrets_encryption
rancher2/schema_cluster_gke_config_v2.go:enable_private_endpoint
rancher2/schema_cluster_gke_config_v2.go:enable_private_nodes
rancher2/schema_cluster_oke_config.go:enable_private_control_plane
rancher2/schema_cluster_oke_config.go:enable_private_nodes
rancher2/schema_cluster_v2_rke_config_etcd.go:cloud_credential_name
rancher2/schema_cluster_v2_rke_config_machine_pool.go:cloud_credential_secret_name
rancher2/schema_cluster_v2_rke_config_registry.go:auth_config_secret_name
rancher2/schema_cluster_v2_rke_config_registry.go:tls_secret_name
rancher2/schema_cluster_v2.go:cloud_credential_secret_name
rancher2/schema_machine_config_v2_azure.go:private_address_only
rancher2/schema_machine_config_v2_azure.go:use_private_ip
rancher2/schema_machine_config_v2_linode.go:create_private_ip
rancher2/schema_machine_config_v2_amazonec2.go:private_address_only
rancher2/schema_machine_config_v2_amazonec2.go:use_private_address
rancher2/schema_machine_config_v2_digitalocean.go:private_networking
rancher2/schema_machine_config_v2_openstack.go:application_credential_name
rancher2/schema_user.go:must_change_password
